Package: minisatip
Version: 0.7.7-git~71e1b8b
Architecture: amd64
Maintainer: Sascha Kuehndel <dev@inusasha.de>
Installed-Size: 8
Depends: openssl, libdvbcsa, dvb-apps
Section: video
Priority: extra
Homepage: https://minisatip.org/
Description: Dieses Plugin wird vom VDR als Ausgabegerät erkannt.
 Minisatip is a multi-threaded satip server version 1.2 that runs under Linux and it was tested with DVB-S, DVB-S2, DVB-T, DVB-T2, DVB-C, DVB-C2, ATSC and ISDB-T cards.
